Repository merchise/xotl.fl: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check code smells, tests, run static checks, run doctests, coverage, build documentation, publish in our rtd

Path conditions:
  check code smells: any of: .gitlab-ci.yml, tox.ini, pyproject.toml, src/**/*.py
  tests: any of: .gitlab-ci.yml, tox.ini, pyproject.toml, src/**/*.py
  run static checks: any of: .gitlab-ci.yml, tox.ini, pyproject.toml, src/**/*.py
  run doctests: any of: tox.ini, pyproject.toml, docs/source/conf.py, docs/**/*.rst, src/**/*.py
  coverage: any of: .gitlab-ci.yml, tox.ini, setup.cfg, pyproject.toml, src/**/*.py
  build documentation: any of: tox.ini, setup.cfg, pyproject.toml, docs/source/conf.py, docs/**/*.rst, src/**/*.py
  publish in our rtd: any of: tox.ini, setup.cfg, pyproject.toml, docs/source/conf.py, docs/**/*.rst, src/**/*.py

Change to MIT license.
  LICENSE
Due: none

ci: Use 'rules' instead of deprecated 'only/exclude'.
  .gitlab-ci.yml
Due: check code smells, tests, run static checks, coverage

project: Upgrade to ruff 0.3.3
  pyproject.toml
  requirements-dev-py312.lock
  src/tests/parsing/test_expr_parser.py
  src/tests/parsing/test_program_parser.py
  src/tests/parsing/test_types_parser.py
  src/tests/test_graphs.py
  src/tests/test_typecheck.py
  src/tests/test_unification.py
  src/xotl/fl/__init__.py
  src/xotl/fl/_version.py
  src/xotl/fl/ast/adt.py
  src/xotl/fl/ast/base.py
  src/xotl/fl/ast/expressions.py
  src/xotl/fl/ast/pattern.py
  src/xotl/fl/ast/typeclasses.py
  src/xotl/fl/ast/types.py
  src/xotl/fl/builtins.py
  src/xotl/fl/eval/__init__.py
  src/xotl/fl/graphs.py
  src/xotl/fl/graphs.pyi
  src/xotl/fl/match.py
  src/xotl/fl/meta.py
  src/xotl/fl/parsers/__init__.py
  src/xotl/fl/parsers/expressions.py
  src/xotl/fl/parsers/larkish.py
  src/xotl/fl/parsers/types.py
  src/xotl/fl/testing/strategies/lark.py
  src/xotl/fl/testing/strategies/tools.py
  src/xotl/fl/testing/strategies/trees.py
  src/xotl/fl/typecheck/__init__.py
  src/xotl/fl/typecheck/predicates.py
  src/xotl/fl/typecheck/subst.py
  src/xotl/fl/typecheck/unification.py
  src/xotl/fl/utils.py
Due: check code smells, tests, run static checks, run doctests, coverage, build documentation, publish in our rtd

project: Ignore _version.py
  .gitignore
Due: none

project: Ignore _version.py
  .gitignore
  src/xotl/fl/_version.py
Due: check code smells, tests, run static checks, run doctests, coverage, build documentation, publish in our rtd

grammar: Remove non longer needed Local Variables.
  src/xotl/fl/parsers/grammar.lark
Due: none

make: Improve bootstrap of rye and uv
  Makefile
  requirements-dev-py312.lock
  requirements-dev.lock
  requirements.lock
Due: none

project: Upgrate to ruff 0.4.5
  Makefile
  pyproject.toml
  requirements-dev-py312.lock
  requirements-dev.lock
Due: check code smells, tests, run static checks, run doctests, coverage, build documentation, publish in our rtd
